<div class="container">
  <div class="row first-container">
    <div class="col-xl-5 col-12">
      <br>

      <h1 style="font-family: Trebuchet MS; font-weight: 900;font-style: italic;margin-top: 11%;text-align: center;font-size: 3em">Hadj Mabrour </h1><img src="{{hajImg}}" style="width: 13em;margin-left:7em"/>

      <p style="text-align: center;font-family: Arial">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio deserunt fuga perferendis modi earum
        commodi aperiam temporibus quod nulla nesciunt aliquid debitis ullam omnis quos ipsam, aspernatur id
        excepturi hic
      </p>
    <a class="btn" style="background-color: #047323;color: white; border-radius: 20px; width: 40%;margin-left:7em;margin-top: 2%" routerLink="/">Inscription</a>
    </div>
    <div class="col-lg-7 d-none d-md-none d-xl-inline-block">
      <img src="{{cap1}}"style="width:39.5em;height:34em;margin-top: -4px;"/>
    </div>
  </div>
  <div class="row"  style="background-image: url('../../assets/cap3.png');background-repeat: no-repeat;">
    <div class="col-lg-7 col-sm-7 d-none d-sm-inline">
      <img src="{{cap2}}" style="width: 30em;"/>
    </div>

    <div class="col-lg-5 col-sm-5">
      <div style="background-image: url('../../assets/cap3.png')">
      <h1 style="font-family: Trebuchet MS; font-weight: 900;font-style: italic;margin-top: 11%;text-align: center;font-size: 3em;color: #E26F05">Facilite le tirage</h1>
      <p style="text-align: center;font-family: Arial">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio deserunt fuga perferendis modi earum
        commodi aperiam temporibus quod nulla nesciunt aliquid debitis ullam omnis quos ipsam, aspernatur id
        excepturi hic
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio deserunt fuga perferendis modi earum
        commodi aperiam temporibus quod nulla nesciunt aliquid debitis ullam omnis quos ipsam, aspernatur id
        excepturi hic
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio deserunt fuga perferendis modi earum
        commodi aperiam temporibus quod nulla nesciunt aliquid debitis ullam omnis quos ipsam, aspernatur id
        excepturi hic
      </p>
        <a style="color: #047323;margin-left: 11em" routerLink="/"> Voir plus</a>
      </div>
  </div>
    <div style ="background-image: url('../../assets/cap4.png')" >
      <div class="row" >
        <div class="col-xl-6 col-md-12">
          <h1 style="font-family: Trebuchet MS; font-weight: 900;font-style: italic;margin-top: 1em;text-align: center;color: #E26F05">Reservation en Ligne</h1>
          <p style="text-align: center;font-family: Arial">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio deserunt fuga perferendis modi earum
            commodi aperiam temporibus quod nulla nesciunt aliquid debitis ullam omnis quos ipsam, aspernatur id
            excepturi hic
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio deserunt fuga perferendis modi earum
            commodi aperiam temporibus quod nulla nesciunt aliquid debitis ullam omnis quos ipsam, aspernatur id
            excepturi hic
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio deserunt fuga perferendis modi earum
            commodi aperiam temporibus quod nulla nesciunt aliquid debitis ullam omnis quos ipsam, aspernatur id
            excepturi hic
          </p>
    </div>
        <div class="col-lg-6 d-xl-inline d-md-none d-none">
          <img src="{{cap5}}" style="width: 34em;"/>
        </div>
</div>
      <div class="container">
      <div class="row">

        <div class="card col-sm-3 mt-2 mx-auto m-sm-auto col-11 " style="width:20%;">
          <div class="card-body">
            <h5 class="card-title" style="font-family: Trebuchet MS; font-weight: 900;font-style: italic;text-align: center;color: #E26F05">Manasik el'Hajj</h5>
          </div>
          <img class="card-img-top" src="../../assets/manasik1.jpg" alt="Card image" style="width:89%">

        </div>

        <div class="card col-sm-3 mt-2 mx-auto m-sm-auto  col-11 " style="width:20%;">
          <div class="card-body">
            <h5 class="card-title" style="font-family: Trebuchet MS; font-weight: 900;font-style: italic;color: #E26F05">Services du Hajj</h5>
          </div>
          <img class="card-img-top" src="../../assets/services1.jpg" alt="Card image" style="width:100%">

        </div>

        <div class="card col-sm-3 mt-2 mx-auto m-sm-auto col-11 last-card" style="width:20%;">
          <div class="card-body">
            <h5 class="card-title" style="font-family: Trebuchet MS; font-weight: 900;font-style: italic;color: #E26F05">Procédure du Hajj</h5>
          </div>
          <img class="card-img-top" src="../../assets/procedures.jpg" alt="Card image" style="width:100%">

        </div>
      </div>
        <div>
        <img src="../../assets/Line.png" style="margin-left:auto;margin-right: auto;display: block; margin-top: 4em">
        </div>
        <footer class="page-footer font-small pt-4">

          <!-- Footer Links -->
          <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

              <!-- Grid column -->
              <div class="col-md-4 mt-md-0 mt-6">

                <!-- Content -->
                <h5 class="text-uppercase" style="font-family: Trebuchet MS; font-weight: 900;font-style: italic;color: #E26F05">Company</h5>
                <ul class="list-unstyled">
                  <li>
                    <a href="#!"class="footerDes">About as </a>
                  </li>
                  <li>
                    <a href="#!"class="footerDes"> Careers</a>
                  </li>
                  <li>
                    <a href="#!"class="footerDes">Contact us</a>
                  </li>
                </ul>

              </div>
              <!-- Grid column -->

              <hr class="clearfix w-100 d-md-none pb-3">

              <!-- Grid column -->
              <div class="col-md-5 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase" style="font-family: Trebuchet MS; font-weight: 900;font-style: italic;color: #E26F05">Further Information</h5>

                <ul class="list-unstyled">
                  <li>
                    <a href="#!"class="footerDes">Terms & Conditions </a>
                  </li>
                  <li>
                    <a href="#!" class="footerDes">Privacy Policy</a>
                  </li>

                </ul>
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase" style="font-family: Trebuchet MS; font-weight: 900;font-style: italic;color: #E26F05">Follow US</h5>

                <ul class="list-unstyled footerLinks" >
                  <li>
                    <a href="#!">
                      <img src="../../assets/facebook.svg" style="width: 50%" >
                    </a>
                  </li>
                  <li>
                    <a href="#!">
                      <img src="../../assets/twitter.svg" style="width: 50%" >
                    </a>
                  </li>
                  <li>
                    <a href="#!">
                      <img src="../../assets/linkedin.svg" style="width: 50%">
                    </a>
                  </li>
                  <li>
                    <a href="#!"> <img src="../../assets/whatsapp.svg" style="width: 50%">
                    </a>
                  </li>
                </ul>

              </div>
              <!-- Grid column -->

            </div>
            <!-- Grid row -->

          </div>
          <!-- Footer Links -->

          <!-- Copyright -->
          <div class="footer-copyright text-center py-3 footerDes ">© 2020 Copyright:
            <a href=""> Hadj Project</a>
          </div>
          <!-- Copyright -->

        </footer>
        <!-- Footer -->



      </div>

    </div>
  </div>


</div>
